/* Define a cor de fundo do corpo da página */
html, body {
 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #009f3b !important;
  min-height: 100%;
}

/* Estiliza os títulos <h1> */
h1 {
  color: darkblue;
  text-align: center;
}

/* Estiliza os parágrafos <p> */
p {
  color: #333;
  font-size: 18px;
  line-height: 1.6;
  margin: 20px;
}

#main-header img {
  width: 16%; /* Ajusta a largura para 16% do elemento pai */
  max-width: 600px; /* Limita a largura máxima para 600px */
  height: auto; /* Mantém a proporção da altura automaticamente */
  border-radius: 8px;
  display: inline-block;
  filter: contrast(1.2);
  filter: brightness(1.1); /* brilho logo */
  filter: saturate(1.3); /* Aumenta a saturação logo */
}

/* Corpo do site */
.container {
  width: 100%; /* quadro fundo branco */
  margin: 10px auto;
  background-color: #fff
  ;
  padding: 35px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Ajustes para a seção footer */
.footer {
  margin-top: 12%; /* posição do footer */
  text-align: left;
  margin-left: 0.1%;
}

.footer p {
  font-size: 10px;  /* posição dos itens footer */
  line-height: 4px;
  margin-left: -0.90%;
  padding-left: -0.9%;
  color: #333;
}

.footer .ate {
  margin-bottom: 10px; /* Espaçamento inferior */
}

.alert1 {
  display: flex; /* Flexbox para alinhar os elementos lado a lado */
  align-items: center; /* Alinha os itens verticalmente no centro */
  gap: auto; /* Espaço entre a imagem e o texto */
  border-radius: 5px; /* fundo borda entre o texto */
  padding: 1px;
  
  
}



.alert1 img {
  width: 100%; /* Ajusta a largura da imagem */
  max-width: 300px; /* Limita a largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 3px; /* Bordas arredondadas na imagem */
}

.avisoP {
  font-size: 19px; /* Tamanho da fonte */
  text-align: left; /* Alinha o texto à esquerda */
  width: 78%; /* Ajusta a largura do texto */
  line-height: 1.6; /* Espaçamento entre as linhas do texto */
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  color: #333;
  font-family:Georgia, 'Times New Roman', Times, serif; ;
}

.footer .ate {
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container1 {
  color: #333;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 90%;
}


.content0 {
  font-size: 18px;
  width: 100%;
  color: #009f3b;
}

.p2 {
  font-size: 14px;
}

.infog {
  display: flex;
  align-items: center; /* Alinha o conteúdo verticalmente ao centro */
  gap: 20px; /* Espaçamento entre o texto e a imagem */
}

.txtinfo {
  flex: 1; /* Faz o texto ocupar o espaço restante, se necessário */
  font-size: 18px; /* Ajuste o tamanho do texto conforme necessário */
  line-height: 1.5; /* Melhora a legibilidade */
  text-align: justify; /* Opcional, para alinhar o texto nas margens */
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 2.2; /* Espaçamento entre as linhas do texto */
  
}

.imagem-direita {
  width: 100%; /* Limita a largura da imagem */
  max-width: 300px; /* Limita a largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 8px; /* Bordas arredondadas, opcional */
}

.suporte-link {
  color: #333; /* Cor azul */
  text-decoration: none; /* Remove o sublinhado */
  font-weight: bold; /* Torna o texto em negrito */
}

.suporte-link:hover { /*update */
  color: blue; /* Cor mais escura ao passar o mouse */
  text-decoration: underline; /* Adiciona o sublinhado ao passar o mouse */
}

.prevencao {
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 95%;





}
 .warning{
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;


 }
 /*posicionamento aviso importante */




 .warning {
  display: flex; /* Usando flexbox para organizar os elementos lado a lado */
  align-items: center; /* Alinha os itens verticalmente no centro */
  gap: 20px; /* Espaçamento entre o texto e a imagem */
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 95%;
}

.warning-text {
  flex: 1; /* Permite que o texto ocupe o restante do espaço disponível */
 
  
}

.warning-image img {
  width: 100%; /* Ajusta a largura da imagem */
  max-width: 300px; /* Limita a largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 8px; /* Bordas arredondadas na imagem */
}


/* posicionamento  prevenção */




.prevencao {
  display: flex; /* Usando flexbox para organizar os elementos lado a lado */
  align-items: center; /* Alinha os itens verticalmente no centro */
  gap: 20px; /* Espaçamento entre o texto e a imagem */
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.prevenc-txt {
  flex: 1; /* Permite que o texto ocupe o restante do espaço disponível */
}

.imgpastinha img {
  width: 100%; /* Ajusta a largura da imagem */
  max-width: 300px; /* Limita a largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 8px; /* Bordas arredondadas na imagem */
}



















/* Media Queries para Responsividade */
@media (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 20px;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
    margin: 10px;
  }

  .alert1 {
    flex-direction: column;
    align-items: flex-start;
  }

  .alert1 img {
    width: 100%; /* Ajusta a largura da imagem */
    max-width: 200px; /* Limita a largura máxima da imagem */
  }

  .avisoP {
    font-size: 16px;
    line-height: 1.4;
  }

  .infog {
    flex-direction: column;
    align-items: flex-start;
  }

  .imagem-direita {
    width: 100%; /* Ajusta a largura da imagem */
    max-width: 200px; /* Limita a largura máxima da imagem */
  }

  .txtinfo {
    font-size: 16px;
    width: 70%;
  }

  .footer {
    text-align: center;
    margin-left: 0;
  }

  .footer .ate {
    margin-bottom: 15px; /* Espaçamento inferior em telas menores */
  }
}

@media (max-width: 768px) {
  .container1{
    width: 80%;

  }
  
  
  
  
  .prevencao{
    width: 90%;
    height: auto;

  }
  .imgpastinha{
    width: 20%;


  }
   .warning{
    width: 95%;

   }

   .warning-image{
    width: 25%;


   }
  
  
  
  
  .container {
    width: 100%;
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
    margin: 5px;
  }

  .alert1 {
    flex-direction: column;
    align-items: flex-start;
  }

  .alert1 img {
    width: 100%; /* Ajusta a largura da imagem */
    max-width: 150px; /* Limita a largura máxima da imagem */
  }

  .avisoP {
    font-size: 14px;
    line-height: 1.2;
  }

  .infog {
    flex-direction: column;
    align-items: flex-start;
  }

  .imagem-direita {
    width: 100%; /* Ajusta a largura da imagem */
    max-width: 150px; /* Limita a largura máxima da imagem */
  }

  .txtinfo {
    font-size: 14px;
  }

  .footer {
    text-align: center;
    margin-left: 0;
  }

  .footer .ate {
    margin-bottom: 15px; /* Espaçamento inferior em telas menores */
  }
}




/*destaque no aviso importante ......*/
/*updte*/
.warning-text {
 background-color: #f8bb50;
  color: white;
  padding: 20px;
  border-radius: 8px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease-in-out;
}


/*destaque no aviso importante ......*/
/*updte*/
.txtinfo {
 background-color: #a4d064;
   
   padding: 20px;
   border-radius: 8px;
 
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
   animation: fadeIn 1s ease-in-out;
 }
 








/*destaque no aviso importante */
/*updte*/
.avisoP {
 background-color: #a4d064;
color: #333333;
  padding: 20px;
  border-radius: 8px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease-in-out;
}


/*destaque no aviso importante */
/*updte*/
.prevenc-txt {
  background-color: #a4d064;
 color: #333333;
   padding: 20px;
   border-radius: 8px;
 
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
   animation: fadeIn 1s ease-in-out;
 }



 .footer {
  background-color: #a4d064;
 color: #333333;
   padding: 20px;
   border-radius: 8px;
 
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
   animation: fadeIn 1s ease-in-out;
 }









 /*contato suporte importante */
/*updte*/
.container1 {
  background-color: #a4d064;
 color: #333333;
   padding: 20px;
   border-radius: 8px;
 
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
   animation: fadeIn 1s ease-in-out;
 }














@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}








.cloud {
  position: relative;
  display: inline-block;
  background-color: #f0f0f0;
  padding: 20px 40px;
  border-radius: 15px;
  font-size: 18px;
  color: #333;
}

.cloud:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border-radius: 50%;
  box-shadow: 15px 10px 0px 5px #f0f0f0, -15px 10px 0px 5px #f0f0f0;
}


/* animaçao flutuando */
@keyframes flutuar {
  /* elemento parado 0% */
  0% {
    transform: translateY(0);
  }
  /* na metade do caminho, ele dá uma subidinha */
  50% {
    transform: translateY(-10px);

  }
    /* no fim o bloco volta ao ponto de partida */
  100% {
    transform: translateY(0);
  }
}

/* aplicando a animação flutuando */
.alert1 img{

  animation:flutuar 5s ease-in-out infinite;

}

/* aplicando a animação flutuando */
.imagem-direita{

  animation:flutuar 5s ease-in-out infinite;

}


/* aplicando a animação flutuando */
.warning-image{

  animation:flutuar 5s ease-in-out infinite;

}



/* aplicando a animação flutuando */
.imgpastinha{

  animation:flutuar 5s ease-in-out infinite;

}




/* aplicando a animação flutuando */
.warning-text{

  animation:flutuar 5s ease-in-out infinite;

}

/* aplicando a animação flutuando */
.avisoP{

  animation:flutuar 5s ease-in-out infinite;

}

/* aplicando a animação flutuando */
.txtinfo{

  animation:flutuar 5s ease-in-out infinite;

}

/* aplicando a animação flutuando */
.prevenc-txt{

  animation:flutuar 5s ease-in-out infinite;

}



/* aplicando a animação flutuando */
.container1{

  animation:flutuar 5s ease-in-out infinite;

}





.warning-text:hover { 
  /* quando o usuario passar o mouse em cima do bloco.. */

 

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); 
  /* Adiciona uma sombra ao redor do bloco.
      */

  transition: transform 0.2s ease, box-shadow 0.2s ease; 
  /* tempo e  efeito da transiçao da sombra */
}

.avisoP{
  transition: transform 0.8s ease, box-shadow 0.8s ease;


}
.avisoP:hover { 
  /* quando o usuario passar o mouse em cima do bloco.. */


  transform:translateY(-5px); 
  /* Move o elemento 5 pixels para cima, criando o efeito de "flutuação". */



  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); 

 

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); 
  /* Adiciona uma sombra ao redor do bloco.
      */

  transition: transform 0.2s ease, box-shadow 0.2s ease; 
  /* tempo e  efeito da transiçao da sombra */
}


.container1:hover { 
  /* quando o usuario passar o mouse em cima do bloco.. */

 

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); 
  /* Adiciona uma sombra ao redor do bloco.
      */

  transition: transform 0.2s ease, box-shadow 0.2s ease; 
  /* tempo e  efeito da transiçao da sombra */
}



.txtinfo:hover { 
  /* quando o usuario passar o mouse em cima do bloco.. */

 

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); 
  /* Adiciona uma sombra ao redor do bloco.
      */

  transition: transform 0.2s ease, box-shadow 0.2s ease; 
  /* tempo e  efeito da transiçao da sombra */
}


.prevenc-txt:hover { 
  /* quando o usuario passar o mouse em cima do bloco.. */

 

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); 
  /* Adiciona uma sombra ao redor do bloco.
      */

  transition: transform 0.2s ease, box-shadow 0.2s ease; 
  /* tempo e  efeito da transiçao da sombra */
}
