/* Define a cor de fundo do corpo da página */
html,body {
  background-color: #f0f0f0;
 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #009f3b !important;
  height: 97%;
}




/* Estiliza os títulos <h1> */
h1 {
  color: darkblue;
  text-align: center;
}

/* Estiliza os parágrafos <p> */
p {
  color: #333;
  font-size: 18px;
  line-height: 1.6;
  margin: 20px;
}

#main-header img {
  width: 16%; /* Ajusta a largura para 80% do elemento pai */
  max-width: 600px; /* Limita a largura máxima para 600px */
  height: auto; /* Mantém a proporção da altura automaticamente */
  border-radius: 8px;
  display: inline-block;
  filter: contrast(1.2);
  filter: brightness(1.1); /*brilho logo */
  filter: saturate(1.3); /* Aumenta a saturação  logo*/
  
}



/* corpo do site */


      .container { /* quadro fundo branco */
          width: 95%;
          height: 150%;
          margin: 10px auto;
          background: #fff;
          padding: 35px;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         
      }


      
      
      
      
      .footer {
          margin-top: 12%; /* posiçao do footer */
          text-align: left;
          margin-left: 0.1%;
         
         
         
       
      
          
      }
       .footer p{
          font-size: 10px;  /* posiçao dos itens footer*/
          line-height: 4px;
         margin-left:-0.90%;
         padding-left:-0.9%;
        color: #333;
       


       }

       .alert1 {
       
          display: flex; /* Flexbox para alinhar os elementos lado a lado */
          align-items: center; /* Alinha os itens verticalmente no centro */
          gap: auto; /* Espaço entre a imagem e o texto */
          /* border: 2px solid #333; */
          border-radius: 5px; /* fundo borda entre o texto*/
          padding: 1px;
          width: 100%; 
          background-color: #ffffff;
      
        

      }
      
      .alert1 img {
          max-width: auto; /* Ajusta a largura da imagem */
          height: auto; /* Mantém a proporção da imagem */
          border-radius: 3px; /* Bordas arredondadas na imagem */
         
      }
      
      .avisoP {
          height: 29vh;
          font-size: 19px; /* Tamanho da fonte */
          text-align: left; /* Alinha o texto à esquerda */
          width: 100%; /* Ajusta a largura do texto */
          gap: 10px;
          line-height: 40px;
          color:#333;
          font-family:Georgia, 'Times New Roman', Times, serif;
      }
      

h1 {

color: #333;
}

      
    .footer .ate{

      font-size: 18px;
      font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .container1{

      color: #333;
      font-size: 14px;
      font-family:Georgia, 'Times New Roman', Times, serif;
     
    
    }

    .content0 {
      font-size: 18px;
      width: 100%;
      color: #009f3b;

     


    }
    .p2{
      font-size: 14px;



    }


    .infog {
      display: flex;
      align-items: center; /* Alinha o conteúdo verticalmente ao centro */
      gap: 20px; /* Espaçamento entre o texto e a imagem */
    }
    
    .txtinfo {
      flex: 1; /* Faz o texto ocupar o espaço restante, se necessário */
      font-size: 18px; /* Ajuste o tamanho do texto conforme necessário */
      line-height: 1.5; /* Melhora a legibilidade */
      text-align: justify; /* Opcional, para alinhar o texto nas margens */
      font-family:Georgia, 'Times New Roman', Times, serif;
      line-height: 2.2; /* Espaçamento entre as linhas do texto */
    }
    
    .imagem-direita {
      max-width: auto; /* Limita a largura da imagem */
      height: auto; /* Mantém a proporção da imagem */
      border-radius: 8px; /* Bordas arredondadas, opcional */
    }


    .suporte-link {
      color: #009f3b; /* Cor azul */
      text-decoration: none; /* Remove o sublinhado */
      font-weight: bold; /* Torna o texto em negrito */
  }
  
  .suporte-link:hover {
      color: #0fd658; /* Cor mais escura ao passar o mouse */
      text-decoration: underline; /* Adiciona o sublinhado ao passar o mouse */
  }
  